html,body, p {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.date {
  display: flex;
  justify-content: center;
  padding: 3px;
  border: 1px solid white;
}

.main {
  width: 200px;
  border: 1px solid white;
  background-color: #E7E7DE;
  color: #0F3057;
}

.container {
  position: relative;
  padding: 5px 5px 5px 20px;
  border: 1px solid white;
}

.currency {
  margin-left: -15px;
  font-size: 16px;
  margin-bottom: 10px;
}

.sum {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.title {
  font-size: 10px;
  padding-right: 20px;
}

.title_modify {
  padding-right: 16px;
}

.nation-currency {
  position: absolute;
  right: 35px;
  top: 61%;
  transform: translate(50%, -50%);
  font-size: 25px;
}